<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>		
		<div class="content-wrapper" style="min-height: 368px;">
		  <!-- Content Header (Page header) -->
		  <section class="content-header">
	      	<div th:replace="inc/alerts"></div>	
	      	<div th:replace="inc/success"></div>	
				<h2>
					<a th:href="@{/server}" th:text="#{view.server.heading}"></a>
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					<a th:href="@{/tables}"><span id="tableName"></span></a>
				</h2>							
		  		<h1><span th:text="#{view.column.heading}"></span></h1>	
	      		<div th:replace="inc/spinner"></div>
	      		<div class="row">				
					<div th:replace="inc/modalDropDownColumn"></div>
				</div>
		  </section>
		  <!-- Main content -->
			<section class="content">
				<table id="tbl_column" class="table table-condensed table-striped table-hover dt-responsive" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th th:text="#{view.column.table.heading.id}"></th>
							<th th:text="#{view.column.table.heading.name}"></th>
							<th th:text="#{view.column.table.heading.columnType}"></th>
							<th th:text="#{view.column.table.heading.primaryKey}"></th>
							<th th:text="#{view.column.table.heading.displayed}"></th>
							<th th:text="#{view.column.table.heading.allowInsert}"></th>
							<th th:text="#{view.column.table.heading.allowUpdate}"></th>
							<th th:text="#{view.column.table.heading.nullable}"></th>
							<th th:text="#{view.column.table.heading.ddDisplay}"></th>
							<th th:text="#{view.column.table.heading.ddStore}"></th>
							<th th:text="#{view.column.table.heading.special}"></th>
							<th th:text="#{view.column.table.heading.minWidth}"></th>
							<th th:text="#{view.column.table.heading.maxWidth}"></th>
							<th th:text="#{view.column.table.heading.col_size}"></th>
						</tr>
					</thead>
				</table>
				<div id="buttons-row" style="display: none;" class="row">
					<div class="col-lg-10"></div>
					<div class="col-lg-1">
			        	<button type="button" id="cancel-columns" class="btn btn-default btn-lg pull-left">
							<spam th:text="#{view.column.btn.cancel}"></spam>
						</button>					        
					</div>
					<div class="col-lg-1">
						<button class="btn btn-primary btn-lg" id="save-columns" name="submit" type="submit">
							<spam th:text="#{view.column.btn.save}"></spam>
						</button>
					</div>
				</div>
			
			</section>
		</div>

		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
		<script th:src="@{/public/main/page/columns.js}"></script>
		<script th:src="@{/public/main/page/dropDownColumns.js}"></script>
	</div>

</body>
</html>