<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>		
		<div class="content-wrapper" style="min-height: 368px;">
	      <div th:replace="inc/alerts"></div>	
		  <!-- Content Header (Page header) -->
		  <section class="content-header">
				<h1 th:text="#{view.server.heading}">Connection Types</h1>				
	      		<div th:replace="inc/spinner"></div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalServer"><i class="fa fa-database"></i> Insert Server</button>
					</div>					
					<div th:replace="inc/modalServer"></div>
				</div>
		  </section>
		  <!-- Main content -->
		  <section class="content">	
					<table id="tbl_server" class="table table-striped dt-responsive" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="10%" th:text="#{view.server.table.heading.id}"></th>
								<th width="15%" th:text="#{view.server.table.heading.name}"></th>
								<th width="10%" th:text="#{view.server.table.heading.username}"></th>
								<th width="10%" th:text="#{view.server.table.heading.password}"></th>
								<th width="20%" th:text="#{view.server.table.heading.connectionUrl}"></th>
								<th width="15%" th:text="#{view.server.table.heading.connectionType}"></th>
								<th width="10%" th:text="#{view.server.table.heading.prefix}"></th>
								<th width="10%" th:text="#{view.server.table.heading.active}"></th>
							</tr>
						</thead>
					</table>
					
					<h1>Test</h1>
					<table id="tbl_server2" class="table table-striped dt-responsive" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="10%" th:text="#{view.server.table.heading.id}"></th>
								<th width="15%" th:text="#{view.server.table.heading.name}"></th>
								<th width="10%" th:text="#{view.server.table.heading.username}"></th>
								<th width="10%" th:text="#{view.server.table.heading.password}"></th>
								<th width="20%" th:text="#{view.server.table.heading.connectionUrl}"></th>
								<th width="15%" th:text="#{view.server.table.heading.connectionType}"></th>
								<th width="10%" th:text="#{view.server.table.heading.prefix}"></th>
								<th width="10%" th:text="#{view.server.table.heading.active}"></th>
							</tr>
						</thead>
					</table>
			</section>
		</div>

		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
		<script th:src="@{/public/main/page/servers.js}"></script>
	</div>

</body>
</html>