<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
<script th:inline="javascript">
    var tableId = [[${tableId}]];
    var serverId = [[${serverId}]];
    var tableName = [[${tableName}]];
    var serverName = [[${serverName}]];
</script>
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>
		<div class="content-wrapper" style="min-height: 368px;">
	      	<div th:replace="inc/alerts"></div>	
	      	<div th:replace="inc/success"></div>	
		  <!-- Content Header (Page header) -->
		  <section class="content-header" style="padding: 0;">
	      	<div th:replace="inc/spinner"></div>    
		  </section>
		  <!-- Main content -->
		  <section class="content">		
		  	<div id="tableRow" style="display: none">
			  	<div class="datatableControlContainer">
			  		<div id="datatableControlWrapper" class="buttonsDatatable dataTables_wrapper" data-spy="affix" data-offset-top="15">
				  		<div id="datatableButtonsDiv" ></div>
				  		<div id="table_data_length" class="dataTables_length"><label>Show <select id="dataTableLength" name="table_data_length" aria-controls="table_data" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
				  		<div id="datatableSearchFilter" class="dataTables_filter"><label>Search:<input type="search" id="dataTableSearchFilterInput" class="form-control input-sm" placeholder="" aria-controls="table_data" /></label></div>
		  			</div>
		  		</div>
			  	<table id="table_data"  class="table table-condensed table-striped table-hover dt-responsive" cellspacing="0" width="100%">
					<thead>
						<tr id="tableHeaderRow">
						</tr>
					</thead>
				</table>
			</div>	
		  </section>
		  
		  <div id="downloadDataTableDiv">
			<form id="downloadDataTableForm" name="downloadDataTableForm" method="GET" enctype="multipart/form-data" action="/download/csv/table/">
		  	</form>
		  </div>
		  <div id="uploadDataTableDiv">
			<form id="uploadDataTableForm" name="uploadDataTableForm" method="POST" enctype="multipart/form-data">
			    <input type="file" name="fileUpload" id="fileUpload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="position:absolute; top:-100px;"/>
			    <input type= "hidden" name="tableid" id="tableid"/>			    
		  	</form>
		  </div>
		  <!-- /.content -->
		</div>	
		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
	</div>
	<script th:src="@{/public/main/page/home.js}"></script>

</body>
</html>