<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>
		<div class="content-wrapper" style="min-height: 368px;">
	      <div th:replace="inc/spinner"></div>
	      <div th:replace="inc/alerts"></div>	
		  <!-- Content Header (Page header) -->
		  <section class="content-header">
		    <h1>
		      Blackbee Investments
		      
		      <small><i class="fa fa-home"></i> Home</small>
		    </h1>	
	      	<div th:replace="inc/spinner"></div>    
		  </section>
		
		  <!-- Main content -->
		  <section class="content">			
		  </section>
		  <!-- /.content -->
		</div>	
		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
	</div>
	<script th:src="@{/public/main/page/index.js}"></script>

</body>
</html>