<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>
		<div class="content-wrapper" style="min-height: 368px;">
	      	<div th:replace="inc/alerts"></div>	
	      	<div th:replace="inc/success"></div>	
		  <!-- Content Header (Page header) -->
		  <section class="content-header">
		    <h1>
		      Blackbee Investments
		      
		      <small><i class="fa fa-home"></i> Home</small>
		    </h1>	
	      	<div th:replace="inc/spinner"></div>    
		  </section>
		
		  <!-- Main content -->
		  <section class="content">		
		  	<div id="tableRow" style="display: none">
			  	<table id="table_data"  class="table table-condensed table-striped table-hover dt-responsive" cellspacing="0" width="100%">
					<thead>
						<tr id="tableHeaderRow">								
						</tr>
					</thead>
				</table>
			</div>	
		  </section>
		  
		  <!-- CSV BULK FILE UPLOAD TEST
		  Data Module - Table page with data, adding upload f-tion to INSERT CSV data to remote DB table 
		  (pick tableId and put in hidden param e.g. tableId=107) 
		  Request URL:https://localhost/gdma2/rest/datatable/upload
			Request Method:POST
			Content-Disposition: form-data; name="tableid"
			
		   -->
		  <div>
		  <h1>upload your scv file</h1>
				
				<form action="/gdma2/rest/datatable/upload" method="post" enctype="multipart/form-data">
			    <input type="file" name="file" />
			    <input type= "hidden" name="tableid"  value="135"/>
			    <input type="submit" value="Upload"/>
		  </form>
		  </div>
		  <!-- END CSV BULK FILE UPLOAD TEST -->
		  
		  
		  <!-- /.content -->
		</div>	
		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
	</div>
	<script th:src="@{/public/main/page/home.js}"></script>

</body>
</html>