<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body class="skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<header th:replace="inc/contentHeader"></header>
		<aside th:replace="inc/leftPanel"></aside>		
		<div class="content-wrapper" style="min-height: 368px;">
		  <!-- Content Header (Page header) -->
		  <section class="content-header">
	      	<div th:replace="inc/alerts"></div>	
	      	<div th:replace="inc/success"></div>	
				<h1>
					<span th:text="#{view.server.heading}"></span>
				</h1>
	      		<div th:replace="inc/spinner"></div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" id="addServer" class="btn btn-primary pull-right bootstro" data-bootstro-content="You can connect into a Server" data-bootstro-width="400px" data-bootstro-placement="bottom" data-bootstro-step="1" data-toggle="modal" data-target="#modalServer"><i class="fa fa-server" aria-hidden="true"></i> Insert Server</button>
					</div>					
					<div th:replace="inc/modalServer"></div>
				</div>
		  </section>
		  <!-- Main content -->
		  <section class="content">	
					<table id="tbl_server" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th th:text="#{view.server.table.heading.id}"></th>
								<th th:text="#{view.server.table.heading.name}"></th>
								<th th:text="#{view.server.table.heading.username}"></th>
								<th th:text="#{view.server.table.heading.password}"></th>
								<th th:text="#{view.server.table.heading.connectionUrl}"></th>
								<th th:text="#{view.server.table.heading.connectionType}"></th>
								<th th:text="#{view.server.table.heading.prefix}"></th>
								<th th:text="#{view.server.table.heading.active}"></th>
								<th class="bootstro" data-bootstro-content="Edit or Delete a Server connection" data-bootstro-width="400px" data-bootstro-placement="left" data-bootstro-step="2" th:text="#{view.server.table.heading.buttons}"></th>
							</tr>
						</thead>
					</table>
			</section>
		</div>

		<footer th:replace="inc/footer"></footer>
		<aside th:replace="inc/rightPanel"></aside>
		<script th:src="@{/public/main/page/servers.js}"></script>
	</div>

</body>
</html>