<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header"></head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="#{view.server.heading}">Hello world</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{view.server.panel.title}"></h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="tbl_server"
								class="table table-striped dt-responsive" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th width="10%" th:text="#{view.server.table.heading.id}"></th>
										<th width="15%" th:text="#{view.server.table.heading.name}"></th>
										<th width="10%" th:text="#{view.server.table.heading.username}"></th>
										<th width="10%" th:text="#{view.server.table.heading.password}"></th>
										<th width="20%" th:text="#{view.server.table.heading.connectionUrl}"></th>
										<th width="15%" th:text="#{view.server.table.heading.connectionType}"></th>
										<th width="10%" th:text="#{view.server.table.heading.prefix}"></th>
										<th width="10%" th:text="#{view.server.table.heading.active}"></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<footer th:replace="inc/footer"></footer>
	<script th:src="@{/public/main/page/servers.js}"></script>

</body>
</html>