<header class="main-header" xmlns:th="http://www.thymeleaf.org">

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-inverse bootstro" data-bootstro-content="DDMA is a complex tool to lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat quam eget felis hendrerit, ac sodales enim vulputate. Etiam purus quam, mattis convallis tristique a, blandit sed diam." data-bootstro-width="400px" data-bootstro-placement="bottom" data-bootstro-step="0">


      <ul class="nav navbar-nav">
        <li>
			<a th:href="@{/}" class="logo">
			  <!-- mini logo for sidebar mini 50x50 pixels -->
			  <span class="logo-mini"><img class="img-responsive" th:src="@{/public/main/images/logo-gdma.png}" /></span>
			  <!-- logo for regular state and mobile devices -->
			  <span class="logo-lg"><b th:text="${@environment.getProperty('application.description')}"></b></span>
			</a>		  
		</li>
        <li>
		    <!-- Sidebar toggle button-->
		    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		      <span class="sr-only">Toggle navigation</span>
		    </a>
	    </li>
	    <li>	    
		</li>
	  </ul>
	  <ul class="nav navbar-nav pull-right">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">          
            <span class="hidden-xs">John Doe</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <!-- User image -->
            <li class="user-header">              
              <p>
                Joe Doe
                <small>User since Nov. 2012</small>
              </p>
            </li>
            <!-- Menu Body -->
            
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
  </nav>
</header>
