<footer class="main-footer" xmlns:th="http://www.thymeleaf.org">
	<div class="container">
		<div class="row" style="margin-top:20px; margin-bottom: 20px;">
			<div class="col-xs-6">			
				<strong>Copyright &copy;</strong> 
				<span th:text="${@environment.getProperty('organization.name')}"></span> 
				<span th:text="${#dates.format(#calendars.createToday(), 'yyyy')}"></span>			
			</div>
			<div class="col-xs-6">			
				Version: <span th:text="${@environment.getProperty('application.version')}"></span>			
			</div>
		</div>
	</div>
</footer>
	
