		<aside class="control-sidebar control-sidebar-dark" xmlns:th="http://www.thymeleaf.org">

		    <!-- Tab panes -->
		    <div class="tab-content">
		      <!-- Home tab content -->
		
		      <!-- /.tab-pane -->
		      <!-- Stats tab content -->
		      <!-- /.tab-pane -->
		      <!-- Settings tab content -->
		      <div class="tab-pane active" id="control-sidebar-settings-tab">
		          <h3 class="control-sidebar-heading">Admin Settings</h3>
		
		          <div class="form-group">
		            <h3>
		              Manage Servers         
		            </h3>
		            <p>
		              Insert/Remove/Edit servers
		            </p>
		            <a class="btn btn-primary btn-block btn-sm" th:href="@{/server}">Servers</a>
		          </div>
		          <div class="form-group">
		            <h3>
		              Manage Users         
		            </h3>
		            <p>
		              Insert/Remove/Edit users permissions
		            </p>
		            <a class="btn btn-primary btn-block btn-sm" th:href="@{/user}">Users</a>
		          </div>
		      </div>
		      <!-- /.tab-pane -->
		    </div>
		</aside>
		<div class="control-sidebar-bg" style="position: fixed;height: auto;"></div>