		<aside class="control-sidebar control-sidebar-dark" xmlns:th="http://www.thymeleaf.org">

		    <!-- Tab panes -->
		    <div class="tab-content">
		      <!-- Home tab content -->
		
		      <!-- /.tab-pane -->
		      <!-- Stats tab content -->
		      <!-- /.tab-pane -->
		      <!-- Settings tab content -->
		      <div class="tab-pane active" id="control-sidebar-settings-tab">
		        <form method="post">
		          <h3 class="control-sidebar-heading">Admin Settings</h3>
		
		          <div class="form-group">
		            <label class="control-sidebar-subheading">
		              Manage Users         
		            </label>
		
		            <p>
		              Some information about managing users
		            </p>
		          </div>
		          <!-- /.form-group -->
		
		          <div class="form-group">
		            <label class="control-sidebar-subheading">
		              Manage Database
		            </label>
		
		            <p>
		              Some information about managing databases
		            </p>
		          </div>
		          <!-- /.form-group -->
		
		          <div class="form-group">
		            <label class="control-sidebar-subheading">
		              Manage Tables         
		            </label>
		
		            <p>
		              Some information about managing tables
		            </p>
		          </div>
		          <!-- /.form-group -->
		
		
		          <!-- /.form-group -->
		        </form>
		      </div>
		      <!-- /.tab-pane -->
		    </div>
		</aside>
		<div class="control-sidebar-bg" style="position: fixed;height: auto;"></div>