.buttonsDatatable.affix {
    z-index: 99;
    background: #ecf0f5;
    width: 100%;
    top:50px;
    padding: 5px 0 0px;
    position: fixed;
}
.datatableControlContainer {
	height: 35px;
	display: block;
	position: relative;
}

.main-header .logo .logo-lg {
	margin-top:10px;
}
	
.main-sidebar,.main-header .logo {
	transition: none;
    -webkit-transition: none;	
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: auto;
}

.navbar.navbar-inverse {
    width: 100%;	
    position: fixed;
}

.content-wrapper {
	padding-top: 50px;
}

.dropdown-menu.dropdown-menu-right {
    padding: 10px !important;
    border: none !important;
    border-radius: 0 !important;
    background: rgb(54,127,170) !important;
}

.modal-header {
	background: #3c8dbc;
}

.modal-body {
    max-height: 75vh;
    overflow: auto;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
	max-height: 250px;
    overflow-y: auto;
}

.sidebar-menu>li>a {
	white-space: normal !important;
	padding-right: 15px !important;
}

.modal-body label.error {
	font-size: 11px;
    color: rgba(255,0,0,0.6);
    position: absolute;
    right: 10px;
    top: 35px;
    font-style: italic;
}

.modal-body .form-group  {
	position:relative;
}

.error-dd {
    right: 20px !important;
    top: 55px !important;
}

.bootstrap-switch {
	display: block;
}

.bootstrap-switch .bootstrap-switch-label {
	margin-top: -2px;
    margin-bottom: -2px;
}

.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off,.bootstrap-switch {
	border-radius:0;
}

.bootstrap-switch-label:before {
    content: "\e055";
    font-family: 'Glyphicons Halflings';
    color: rgba(0,0,0,0.1);
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	width:249px;
}

.treeview-menu::-webkit-scrollbar {
    width: 5px;
}
 
.treeview-menu::-webkit-scrollbar-thumb {
  background-color:#3c8dbc;
}

.navbar-nav > li > a {
	line-height: 17px;
}

.filterinput {
	background: rgba(255,255,255,0.2);
    border: none;
    padding: 5px;
    color: rgba(255,255,255,0.7);
    margin: 5px 2%;
    width: 94%;
    font-style: italic;
    font-size:12px;
}

#global-alert,#global-success {
	position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 90%;
    text-align: center;
}

.btn h3 {
    margin: 10px 0;
    font-size: 18px;
}

.btn h3 i {
    font-size: 32px;
}

.navbar .btn-info {
	padding: 5px !important;
    margin: 10px !important;
}

.btn-primary:disabled,
.btn-info:disabled {
    opacity: 0.5;
}

.editTable {
	background-color: #3cbcb1;
    border-color: #309990;
}

table thead tr {
    background: rgba(60, 141, 188, 1);
    color: #fff;
}

.table-hover > tbody > tr:hover {
    background: rgba(60, 141, 188, .2);	
}

.dataTables_length {
	float: left;
}

.modal-title {
	color:#fff;
}

.modal-header .close {
	color:#fff;
	opacity:1;
	font-size:28px;
}

.form-control,.bootstrap-switch,.bootstrap-switch-handle-off,.bootstrap-switch-handle-on {
	-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.16);
	box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.16);
}

.dataTable input[type="radio"],.dataTable input[type="checkbox"]{
	zoom:1.3;
}

table.table-condensed {
    font-size: 12px;
}

.hexdots-loader:not(:required) {
	position:absolute !important;
    z-index: 10000;
}

.modal-content .hexdots-loader {
	left: 35%;
    top: 50%;
}

.treeview {
	cursor: pointer;
}

.content-header>h1 {
	font-size:24px;
	margin-bottom:15px
	
}
.content-header>h2 {
	font-size:14px;
	margin-top:0;
}

.active-icon {
	color: #5cd65c;
	font-size: 21px;
	background: #fff;
    padding: 0px 1px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    border-radius: 16px;
}

.inactive-icon {
	color: rgba(255,0,0,.5);
	font-size: 21px;
	background: #fff;
    padding: 0px 1px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    border-radius: 16px;
}

.input-disabled{
    background-color: rgb(204, 204, 204);
    border-width: 1px;
    cursor:pointer;
}

.input-edit {
    position: relative;
    width: 100%;
}

.input-edit.fa.fa-pencil:before,.input-edit.fa.fa-bars:before {
    right: 0px;
    top: 0px;
    opacity: 1;
    position: absolute;
    color: rgba(255,255,255,0.5);
    background: rgba(60, 141, 188, 1);
    height: 21px;
    line-height: 17px;
    padding: 0 5px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .3);
    border-right-color: rgba(0, 0, 0, .3);
    border-bottom-color: rgba(0, 0, 0, .3);
}

.input-edit input {
    height: 22px;
    width: 100%;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.DTE div.DTE_Form_Error {
	font-size: 12px;
    width: 240px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border: 1px solid #b11f1f;
    border-radius: 5px;
}

.buttons-row {
    bottom: 0px;
    background: rgba(60, 141, 188, .6);
    width: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
}

.menu-open {
	font-size:24px;
    color: #fff;
	padding: 11px;
}

tbody tr.selectable-row-table {
  	cursor: pointer;
}

div.editor-datetime table th {
	color: #fff;
}

.medium-confirm-modal{
	width: 500px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span.serverN {
	width:249px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 35px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a .fa-angle-left {
	display: none;
}

/*z-index fixed to avoid conflicting with calendar datetime picker*/
div.DTED_Lightbox_Wrapper {
	z-index: 2040;
}

@media (max-width: 767px) {
	.content {
		margin-top:90px;
	}
	.menu-names {
		width:100%;
		clear:both;
	}
	
	.menu-config {
		width:100%;
	}
	
	.menu-config li {
		float:left;
		width: 50%;
	}
	.dropdown.user.user-menu {
	    background-position: 5px center !important;
	    padding-left: 23px !important;
	    background-size: 28px !important;
	}
	.buttonsDatatable.affix {
		width: 100% !important;
		left:0;
		top:auto !important;
		padding:5px !important;
		bottom:0 !important;
	}
	.control-sidebar {
	    padding-top: 120px !important;
	}
	.content-header {
		margin-top: 15px;
		float:right;
	}
	.buttonsDatatable {
		width: 100% !important;
	}
	table.fixedHeader-floating.no-footer {
		display: none;
	}
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
		font-size:12px;
	}
	.dataTables_wrapper > .row > .col-sm-6 {
	    height: 30px;
	    width: 50%;
	    float: left;
	}
	.nav .menu-open {
		position: absolute;
		z-index: 999;		
	    padding: 16px 10px;
	}
	.datatableControlContainer {
		height: auto;
	}
	.main-sidebar {
		padding-top: 0 !important;
		z-index: 1031;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span.serverN {
		white-space: normal !important;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
		width:auto !important;
	}
	.sidebar-menu .treeview-menu>li>a {
		font-size: 13px !important;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a .fa-angle-left {
	    display: block;
	}
}